<div class="search-container">
    <div class="col-sm-8 col-md-6 col-lg-5 col-12 mx-auto">
        <div class="p-1 rounded rounded-pill">
            <form [formGroup]='searchForm' novalidate>
                <input type="search" placeholder="Enter a city name" class="form-control border-0 bg-purple text-center"
                    id="searchInput" (keyup)="search()" pattern="[A-Za-z0-9\s]+" formControlName="search" required />
                <ul *ngIf="isVisible" class="mx-auto">
                    <li *ngFor="let c of cities" (click)="selectCity(this.c)">{{c.LocalizedName}}</li>
                </ul>
            </form>
        </div>
    </div>
    <div *ngIf="errorMessage.length > 0">
        <herolo-error-message-model (isClose)='errorMessage = ""' [message]="errorMessage"></herolo-error-message-model>
    </div>
</div>