.search-container{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
ul {
    list-style-type: none;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid #e4d8ee;
    border-top: none;
    max-height: 180px;
    max-width: 250px;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
li:hover {
    background-color: #e4d8ee;
}
input{
    background-image: url("./assets/images/Search_icon-72a7cf.svg");
    background-repeat: no-repeat;
    background-size: 40px;
}