body{
    margin: 0;
    padding: 0;
}

.text-main {
    color: #5aafbe;
}

.bg-main {
    background: #e5f6f5;
}

.bg-main-hover:hover {
    background: #e5f6f5;
}

.border-main {
    border: 1px solid #5aafbe;
}