<div class="container-fluid">
    <!-- Search for location -->
    <div class="row">
        <div class="col-12 col-md-4 order-1 order-md-2">
            <wtw-location-search
                (search)="search($event)" (selectedResult)="selectLocation($event)" [results]="searchResults$ | async">
            </wtw-location-search>
            <br>
            <h1 *ngIf="(location$ | async)?.details?.LocalizedName as name" class="d-none d-md-block text-center pt-4 text-main">{{name}}</h1>
        </div>
        <div class="col-6 col-md-4 pt-4 p-md-0 order-1">
            <div *ngIf="(location$ | async)?.currentConditions as currentConditions">
                <wtw-current-weather 
                    [currentConditions]="currentConditions">
                </wtw-current-weather>
            </div>
        </div>
        <div class="col-6 col-md-4 pt-4 pr-md-4 p-md-1 order-3">
            <wtw-add-to-favorites *ngIf="(location$ | async)?.details as locationDetails"
                [isFavorite]="(isFavorite$ | async)" (removeClicked)="removeFavorite(locationDetails.Key)"
                (addClicked)="addFavorite(locationDetails)">
            </wtw-add-to-favorites>
        </div>
    </div>
    <!-- show location conditions -->
    <div *ngIf="(location$ | async)?.dailyForcasts as dailyForcasts">
        <div class="col-12">
            <wtw-daily-forecasts [forecasts]="dailyForcasts"></wtw-daily-forecasts>
        </div>
    </div>
</div>