.forecasts-container{
    width: 100%;
}
.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:180px;
    height: 200px;
    text-align: center;
    margin: 10px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3vw;
}