<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target=".collapse-items">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse mr-auto w-100">
        <h4 class="nav-item text-purple w-100">
            Herolo Weather Task
        </h4>
    </div>
    <div class="d-md-none mx-auto">
        <h4 class="nav-item text-purple w-100">
            Herolo Weather Task
        </h4>
    </div>
    <div class="navbar-collapse collapse navbar-brand mx-auto">
        <img src="/assets/images/logo.png" class="w-100" alt="">
    </div>
    <div class="navbar-collapse collapse w-100 collapse-items">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-purple font-weight-bold" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-purple font-weight-bold" routerLink="/favorites">Favorites</a>
            </li>
        </ul>
    </div>
</nav>